html {
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: top;
	word-wrap: break-word;
}

div {
	position: relative;
	padding: 5px;
	width: inherit;
	overflow:auto;
}

span {
	position: relative;
	padding: 0px;
	margin: 0px;
}

table {
	table-layout: fixed;
	width:100%;
	background-color: #ffffff;
	position: relative;
	border-collapse: collapse;
	margin: 0px;
	padding: 4px;
	border: 0px;
}

td {
	vertical-align: top;
	margin: 0px;
	padding: 0px;
	border: 1px solid black
}

hr {
	margin: 0px;
}

br {
	clear: both;
}

.report {
	margin: 6px;
	padding: 0px;
}

.topLine {
}

.advertBox {
	width: 25%;
	position: relative;
	float: left;
}

.reportTopBox {
	position: relative;
	width: 70%;
	border: 1px solid gray;
	padding: 0px;
	margin: 4px;
	float: left;
}

.reportTitle {
}

.reportText {
}

.reportTitle {
	background-color: #b29f8c;
	padding: 0px;
}

.reportText {
	padding: 2px;
}

.decisionTree {
	clear: both;
	width: 45%;
	float: left;
	border: 1px solid gray;
}

.project {
	position: relative;
	margin: 4px;
	padding: 0px;
	border: 1px solid gray;
}

.projectText {
	background-color: #b29f8c;
	padding: 2px;
}

.engine {
	position: relative;
	margin: 6px;
	padding: 0px;
	border: 1px solid gray;
}

.engineText {
	background-color: #d6c6c4;
	padding: 2px;
}

.usecase {
	position: relative;
	margin: 6px;
	padding: 0px;
	border: 1px solid gray;
	position: relative;
}

.usecaseText {
	background-color: #cbc8be;
	border: 0px;
	margin: 0px;
	padding: 2px;
}

.scenario {
	padding: 0px;
	margin: 6px;
	border: 1px solid gray;
	position: relative;
}

.scenarioText {
	background-color: #d1c2a4;
	border: 1px;
	margin: 0px;
	padding: 2px;
}

.scenarioValue {
	background-color: #d0efd0;
	margin: 10px;
}

.title {
	width: 125px;
}

.value {
	
}

.indent {
	float: left;
	width: auto;
}

.keyword {
	font-weight: 900;
	color: #7f0055;
	float: left;
	width: auto;
}

.if {
	padding: 0px;
	width: 100%;
	clear: both;
}

.because {
	border: 1px solid gray;
	background-color: #dfdfdf;
	width: 70%;
	float: left;
}

.becauseTrue {
	border: 1px solid green;
	width: 70%;
	float: left;
}

.result {
	padding: 0px;
	width: 100%;
	clear: both;
}

.conclusion {
	width: 80%;
	float: left;
	border: 1px solid gray;
	background-color: #efefef;
	float: left;
}

.conclusionWithTest {
	width: 80%;
	float: left;
	border: 1px solid green;
	width: 80%;
}

.else {
	margin: 2px;
	clear: both;
}

.tests {
	float: left;
	width: auto;
}

.scenarioLink {
	float: left;
}

.useCaseAndScenario {
	width: 45%;
	float: left;
}