html {
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: top;
	word-wrap:break-word;
}

div {
	position: relative;
	padding: 0px;
	margin: 0px;
}

span {
	position: relative;
	padding: 0px;
	margin: 0px;
}



.indent {
	float: left;
}
