html {
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: top;
}

div {
	position: relative;
	padding: 5px;
}

.report {
	position: relative;
	margin: 6px;
	padding: 0px;
	border: 1px solid gray;
}

.reportText {
	background-color: #44b649;
	padding: 2px;
}
.project {
	position: relative;
	margin: 6px;
	padding: 0px;
	border: 1px solid gray;
}

.projectText {
	background-color: #44b649;
	padding: 2px;
}

.engine {
	position: relative;
	margin: 6px;
	padding: 0px;
	border: 1px solid gray;
}

.engineText {
	background-color: #44b649;
	padding: 2px;
}

.usecase {
	background-color: #d2f9c0;
	position: relative;
	margin: 6px;
	padding: 0px;
	border: 1px solid gray;
}

.usecaseText {
	background-color: #91cd92;
	border: 0px;
	position: relative;
	margin: 0px;
	padding: 2px;
}

.scenario {
	background-color: #4ebc88;
	position: relative;
	padding: 0px;
	margin: 6px;
	border: 1px solid gray;
}

.scenarioText {
	background-color: #b8d878;
	border: 1px;
	margin: 0px;
	padding: 2px;
}

.scenarioTable {
	width: 100%;
	background-color: #ffffff;
	position: relative;
	border-collapse: collapse;
	margin: 0px;
	padding: 4px;
	border: 0px;
}

.scenarioValue {
	background-color: #d0efd0;
	width: 100%;
	margin: 10px;
}

td {
	vertical-align: top;
	margin: 0px;
	padding: 0px;
	border: 1px solid black
}

.title {
	width: 125px;
}

.value {
	
}

hr {
	margin: 0px;
}